aws_region = "us-east-1"
db_instance_class = "db.t3.micro"
db_name = "qa_dashboard"
db_username = "qa_admin"
# db_password = "REPLACE_WITH_STRONG_PASSWORD"
vpc_cidr = "10.0.0.0/16"
ssh_cidr = "205.185.107.33/32" # replace with your own restricted CIDR for SSH to the bastion
bastion_instance_type = "t3.micro"
